p{
    background-color: black;
    color: white;
    margin: 10px 0;
font-size: 18px;
line-height: 1.5;
}
main {
padding: 20px;
background-color: gray;
}
header{
background-color: black;
color: black;
}
ul{
background-color: black;

}
li{
background-color: white;
}

.animated-shape {
position: absolute;
width: 20px;
height: 20px;
background-color: #3498db;
border-radius: 50%;
animation: flyAndChange 5s linear infinite, changeColor 5s linear infinite alternate;
}

.animated-shape2 {
position: absolute;
width: 40px;
height: 50px;
background-color: red;
border-radius: 50%;
animation: flyAndChange 10s linear infinite, changeColor 5s linear infinite alternate;
}
@keyframes flyAndChange {
0% {
transform: translate(0, 0);
}
100% {
transform: translate(calc(100vw - 20px), calc(100vh - 20px));
}
}
@keyframes changeColor {
0%, 100% {
background-color: #3498db;
}
50% {
background-color: #e74c3c;
}
}